@{ 
    var pageCount = (int)ViewData["PageCount"];
    var currentPage = (int)ViewData["CurrentPage"];
}
<nav class="mb-1">
    <ul class="pagination justify-content-center">
        @if (currentPage == 1)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
        }
        else
        {
            var previous = currentPage - 1;
            <li class="page-item">
                <a class="page-link" href="../Orders?page=@previous">Previous</a>
            </li>
        }

        @for (int i = 1; i <= pageCount; i++)
        {
            @if (currentPage == i)
            {
                <li class="page-item active"><a class="page-link" href="../Orders?page=@i">@i</a><span class="sr-only"></span></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" href="../Orders?page=@i">@i</a></li>
            }
        }
        @if (currentPage == pageCount)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Next</a>
            </li>
        }
        else
        {
            var next = currentPage + 1;
            <li class="page-item">
                <a class="page-link" href="../Orders?page=@next">Next</a>
            </li>
        }

    </ul>
</nav>
    
