@model ProductViewModel;
<div class="col-md-6 mb-3">
    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">Цена: @Model.Price.ToString("0.00", new System.Globalization.CultureInfo("en-US"))</p>
            <p class="card-text">Описание: @Model.Description</p>
            <div class="justify-content-around btn-group" role="group">
                <a id="Add_@Model.Id" class="btn btn-light">+</a>
                <input type="number" class="productCount" id="productCount_@Model.Id" value="@Model.Count">
                <a id="Delete_@Model.Id" class="btn btn-light">-</a>
            </div>
        </div>
    </div>
</div>
