@using DeamonSharps.Shop.Simple.Extentions;
@using DeamonSharps.Shop.Simple.Entities; 
@model ProductViewModel;
<div class="col-md-4">
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <p>@Model.Name</p>
            <p>Цена: @Model.Price</p>
            <p>Описание: @Model.Description</p>
            @{var count = Context.Session.Get<Cart>("Cart")?.GetCartItem(Model.Id)?.Count ?? 0;}
            <div class="row justify-content-around btn-group" role="group">
                <a id="Add_@Model.Id" class="btn btn-light">+</a>
                <span class="productCount" id="productCount_@Model.Id">@count</span>
                <a id="Delete_@Model.Id" class="btn btn-light">-</a>
            </div>
        </div>
    </div>
</div>
