@using DeamonSharps.Shop.Simple.Extentions;
@using DeamonSharps.Shop.Simple.Entities; 
@model ProductViewModel;
<div class="col-md-6 mb-3">
    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">Цена: @Model.Price</p>
            <p class="card-text">Описание: @Model.Description</p>
            <div class="row justify-content-around btn-group" role="group">
                <a id="Add_@Model.Id" class="btn btn-light">+</a>
                <span class="productCount" id="productCount_@Model.Id">@Model.Count</span>
                <a id="Delete_@Model.Id" class="btn btn-light">-</a>
            </div>
        </div>
    </div>
</div>
