@{
    ViewData["Title"] = "Домашняя страница";
}
@model List<CategoryViewModel>;
<div class="container">
    <div class="text-center">
        <h1 class="display-4">Добро пожаловать в магазин мерча МГТУ</h1>
        <p>Выбирайте категорию и товары</p>
    </div>
    <div class="row">
            @foreach (var category in Model)
            {<div class="col-md-4">
                    
                        @using (Html.BeginForm("Index","Shop",FormMethod.Get)) 
                        {
                        <div class="card mb-4 shadow-sm">

                            @Html.Hidden("categoryId", category.Id)
                            @Html.Hidden("categoryName",category.Name)
                            <input type="submit" class="card-body" value="@category.Name" />
                        </div>
                        }
                        
                     
             </div>
                
            }

    </div>
</div>


