@{
    ViewData["Title"] = "Магазин";
}
@model List<ProductViewModel>;
<h1>@ViewData["Title"]</h1>
<div class="container">
    <div class="row">
        @if (Model!=null)
        {
            foreach (var Product in Model)
            {
               await  Html.RenderPartialAsync("ProductCard",Product);
            }
        }
    </div>
</div>


