@model ShopPageViewModel;
@{
    ViewData["Title"] = Model.Title;
}
<h1>@ViewData["Title"]-@Model.CategoryName</h1>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-3 col-lg-2 d-md-block sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    @foreach (var category in Model.Categories)
                    {
                        <li class="nav-item p-1"><a id="CategorySelect_@category.Id" onclick="" class="nav-link btn btn-light">@category.Name</a></li>
                    }
                </ul>
            </div>
        </nav>
        <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div id="products" class="row">
                @if (Model != null)
                {
                    foreach (var Product in Model.Products)
                    {
                        await Html.RenderPartialAsync("ProductCard", Product);
                    }
                }
            </div>
        </div>
    </div>
    
</div>


