@model ShopPageViewModel;
@{
    ViewData["Title"] = Model.Title;
}
<h1>@ViewData["Title"]-@Model.CategoryName</h1>
<div class="container">
    <div class="row">
        @if (Model != null)
        {
            foreach (var Product in Model.Products)
            {
                await Html.RenderPartialAsync("ProductCard", Product);
            }
        }
    </div>
</div>


