@model ShopPageViewModel;
@{
    ViewData["Title"] = Model.Title;
}
    <div class="container-fluid mt-2">
        <div class="row">
            <nav class="col-md-3 col-lg-2 d-md-block sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav nav-selector flex-column">
                        @foreach (var category in Model.Categories)
                        {
                            <li class="p-1 text-center"><a id="CategorySelect_@category.Id" class="nav-link">@category.Name</a></li>
                        }
                    </ul>
                </div>
            </nav>
            <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div id="products" class="row">
                    @if (Model != null)
                    {
                        foreach (var Product in Model.Products)
                        {
                            await Html.RenderPartialAsync("ProductCard", Product);
                        }
                    }
                </div>
                <div class="d-flex justify-content-center">
                    <input id="showMoreProducts" data-page="1" data-category="0" class="btn btn-outline-secondary" type="button" value="Показать еще" />
                </div>
            </div>
        </div>

    </div>



